@import "../globalVars";
.head_menu {
  li {
    a {
      color: #9b9b9b;
    }
  }
}
.head_contacts {
  border-bottom: solid @headerBorderColor @headerBorderwidth;
}
.head_menu2 {
  border-bottom: solid @headerBorderColor @headerBorderwidth;
}
.adres3{
  a{
    color: @mainRed;
    text-decoration: underline;
  }
  a:hover{
    text-decoration: none;
  }

}
.search{
  display: inline-block;
  background: url("./Search.png") no-repeat;
  background-position: 0px 20px;
  position: relative;
  padding-left: 20px;
  margin-left: 0px;
  float: left;
  height: 57px;
}
.wse_kategor {
  display: inline-block;
  float: right;
  text-align: right;
  padding-right: 30px;
  background-position: 155px;
}
.wse_kategor:hover{
  cursor: pointer;
}
.catalogue{
  .defaultFont;
  font-size: 16px;
  font-weight: bold;
  padding-top: 20px;
  background-color: @mainRed;
  color: white;
  height: 57px;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  width: 100%;
  border-left: solid @headerBorderColor @headerBorderwidth;
  border-right: solid @headerBorderColor @headerBorderwidth;
}
.catalogue:hover{
  cursor: pointer;
}
.cart_block{
  .cart_img{
    display: inline-block;
  }
  a{
    p{
      display: inline-block;
      padding: 0px;
      margin: 0px 0px 0px 0px;
      height: 53px;
      vertical-align: sub;
      span {
        font-size: 13px;
      }
    }
  }
  .offerButton {
    text-decoration: underline;
    color: @mainRed;
    vertical-align: sub;
    margin: 15px 0px 0px 20px;
    padding: 0px;
    font-size: 14px;
    //font-family: MyriadPro;
    .defaultFont;
    font-weight: bold;
  }
}

