header
    nav.head_menu
        .container
            .row#main_menu
    .head_contacts
        .container
            .row
                .col-md-3
                    .top_log
                        a(href="#logo")
                            img(src=require('./logo.png'))
                .col-md-3
                    .top_prod Продажа профессионального
                        .top_prod2 строительного инструмента
                .col-md-3
                    .top_tel Телефон:
                        <div class="stil1">7(495)<strong> <span class="tel">215-27-20</span></strong> </div>
                        .stil3 пн-пт с 9.00 до 18.00
                .col-md-3
                    .adr
                        .adres Адрес:
                            .adres2 125599, Москва, Ижорская, д.6
                            .adres3
                                a(href="#") Показать на карте

    .head_menu2
        .container
            .row
                .col-md-3
                    .catalogue Каталог товаров
                .col-md-6
                    .search
                        <input type="search" name="q" placeholder="Введите название товара (Например: Молоток)" />
                    .wse_kategor все категории

                .col-md-3
                    .cart_block
                        a
                            .cart_img
                                img(src=require('./cart.png'))
                            p 15 300
                                span  руб
                        a.offerButton Оформить