*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	
}
body input:required:valid,
body textarea:required:valid {
	
}
body {
	font-family: "RobotoRegular", sans-serif;
	font-size: 16px;
	min-width: 320px;
	position: relative;

}
.hidden {
	display: none;
}
.carousel img {
	width: 100%;
	height: auto;
}
.parallax {
	background-attachment: fixed;
	background-position: 50% 0;
	position: relative;
}

header{
/*background-image: url(../img/logo.png);
	min-height: 600px;
	position: relative;*/
}

header a {
color: #ff4b3a;

}

.top_line{
	min-height: 47px;
	-webkit-box-shadow: rgba(237,238,238,255) 0 0 0 1px;
	box-shadow: rgba(237,238,238,255) 0 0 0 1px;
	
	width: 100%;
	padding: 0px 0;
}

.top_log{
	    line-height: 110px;
	    background-repeat: no-repeat;
	    background-position: center left;
	    color: #ff4b3a;
	    text-transform: uppercase;
	    font-size: 27px;
	    font-family: "open_sans"; 
	    position: relative;


	}

.top_prod{

	
	line-height: 22px;
	font-size: 15px;
	margin-top: 36px;
	font-family: "MyriadPro","Myriad Pro","Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial;
	 	padding-left: 60px;
	 	position: relative;


}
.top_prod2{

}
.top_line .logo {
	position: absolute;

}

.top_tel{
	background-image:  url(tel_head.png);
	background-repeat: no-repeat;
	    background-position: 0 25px;
	padding-left: 25px;
		    color: #000000;
		    font-size: 14px;
		    line-height: 22px;
	    margin-top: 18px;
	font-family: "MyriadPro","Myriad Pro","Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial;
	    	 	position: absolute;
	    	 	margin-left: 50px;


}

.stil1{
	 font-size: 21px;
}

.tel{
		 font-size: 21px;

	font-family: "MyriadPro","Myriad Pro","Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial;

}

.stil3{
line-height: 28px;
color: #d2d2d2;

}

.adres{
background-image:  url(map_head.png);
	background-repeat: no-repeat;
	    background-position: 0 26px;
			    font-size: 15px;
	font-family: "MyriadPro","Myriad Pro","Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial;
	color: #000000;
margin-top: 15px;
padding-left: 25px;
position: relative;



}

.adres2{
	font-size: 16px;
	line-height: 28px;
	font-family: "MyriadPro","Myriad Pro","Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial;
	font-weight: 600;
}

.adr{
	margin-left: 15px;
}



.adres3:hover {
	font-family: "MyriadPro","Myriad Pro","Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial;
line-height: 22px;
	color: #ff4b3a;
	text-decoration: underline;
}

.adres3 a{
	font-family: "MyriadPro","Myriad Pro","Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial;
line-height: 22px;
	color:#000000;

}

.head_menu{
	height: 47px;
	-webkit-box-shadow: rgba(237,238,238,255) 0 0 0 1px;
	box-shadow: rgba(237,238,238,255) 0 0 0 1px;
		
	width: 100%;
	padding: 0px 0;
}
.head_menu ul{
	margin: 0;
	padding: 0;
	list-style-type:none;
	
	font-size: 14px;
}
.head_menu li{

	display:inline-block;
}
.head_menu a{
	color: #7e7e7e;
	font-size: 14px;
	font-family: "MyriadPro","Myriad Pro","Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial;
	padding: 0 18px;
	display: block;
	line-height: 50px;
	position: relative;
}

.head_menu_rig{
	text-decoration: underline;
	float: right;
	position: relative;
	font-family: "MyriadPro","Myriad Pro","Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial;
	font-weight: 500;
	font-style: normal;
	font-size: 13px;
	color:#c1c1c1;
}

.head_menu_rig li a:hover{

	text-decoration: underline;
	color:#ff4b3a;
	font-weight:bold;
}
.head_menu_rig li a{

	color:#c1c1c1;
}

.r a{
	color:#c1c1c1;
}

.r:hover{
	
	text-decoration: underline;

}

.head_menu2{

	//height: 57px;
	//-webkit-box-shadow: rgba(237,238,238,255) 0 0 0 1px;
	//box-shadow: rgba(237,238,238,255) 0 0 0 1px;
	//width: 100%;
	//margin: 50px 0 0 0;
	font-family: "MyriadPro","Myriad Pro","Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial;

}

#menu{

background:white;
width:268px;
height:57px;
}

#manu a{

	background-color:#ff4b3a;
	
}
.head_menu2 ul{
margin: 0;
padding: 0;
list-style-type:none;
color:#202020;
font-size: 14px;
 display: block;
}
.head_menu2 a{
	color: #43528e;
	font-weight: bold;
	font-size:19px;
	padding: 22px 0;
	line-height: 44px;



}

.head_menu2 li{
}

/*///////////////////////////////////////////////////////////*/
.dws-menu *{

 height: 57px;
	margin:0;
	padding: 0;
	
}
.dws-menu ul,
.dws-menu ol{
 list-style: none;
 
}
.dws-menu > ul{
 display: flex;
 justify-content: left;

}
.dws-menu > ul li{
 position: relative;
 border-right: 1px solid #e1e3e4;



}
.dws-menu > ul li:first-child{
 border-left: 1px solid #e1e3e4;
 border-right: 1px solid #e1e3e4;
 border-bottom: #ffffff;
 border-top: 1px solid #e1e3e4;
 width: 266px;
}
.dws-menu > ul li:last-child{
 border-right: 1px solid #e1e3e4;
 border-left: 1px solid #e1e3e4;
 border-bottom: 1px solid #e1e3e4;
 border-top:  #ffffff;

}
.dws-menu > ul li > a i.fa{
 position: absolute;
 top: 15px;
 left: 12px;
 font-size: 18px;
 width: 266px; /*выпад меню*/

}
.dws-menu > ul li a{
 display: block;
 /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#c9c9c9+0,f6f6f6+2,c4c5c7+98,757577+100;Custom+3 */
 background: rgb(255,255,255); /* Old browsers */
 background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(255,255,255,1) 2%, rgba(255,255,255,1) 98%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
 background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 2%,rgba(255,255,255,1) 98%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
 background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 2%,rgba(255,255,255,1) 98%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c9c9c9', endColorstr='#757577',GradientType=0 ); /* IE6-9 */

 padding: 15px 30px 15px 40px;
 font-size: 14px;
 color: #3a3a3a;
 text-decoration: none;
 text-transform:uppercase;
 transition: all 0.3s ease;


}
.dws-menu li a:hover{
 /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e0e1e5+0,454547+2,454547+98,e0e1e5+100 */
 background: rgb(250,75,58); /* Old browsers */
 background: -moz-linear-gradient(top,  rgba(250,75,58,1) 0%, rgba(250,75,58,1) 2%, rgba(250,75,58,1) 98%, rgba(250,75,58,1) 100%); /* FF3.6-15 */
 background: -webkit-linear-gradient(top,  rgba(250,75,58,1) 0%,rgba(250,75,58,1) 2%,rgba(250,75,58,1) 98%,rgba(250,75,58,1) 100%); /* Chrome10-25,Safari5.1-6 */
 background: linear-gradient(to bottom,  rgba(250,75,58,1) 0%,rgba(250,75,58,1) 2%,rgba(250,75,58,1) 98%,rgba(250,75,58,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0e1e5', endColorstr='#e0e1e5',GradientType=0 ); /* IE6-9 */

 color: #ffffff;
 box-shadow: 1px 5px 10px -5px black;
 transition: all 0.3s ease;

}

/*sub menu*/
.dws-menu li ul{
 position: absolute;
 min-width: 150px;
 display: none;
	   border-color: #e1e3e4; /* Цвет границы */


}
.dws-menu li > ul li{
border-left: 1px solid #e1e3e4;
 border-right: 1px solid #e1e3e4;
  
   border-top:  #ffffff;
 border-bottom: 1px solid #e1e3e4;
border-top: 1px solid #ffffff;

}


.dws-menu li > ul li a:last-child{
border-left: 1px solid #e1e3e4;
 border-right: 1px solid #e1e3e4;
 border-bottom: 1px solid #e1e3e4;


}

.dws-menu li > ul li a{
 padding: 10px;
 text-transform: none;
 background: #ffffff; /*заливка выпадающего меню*/
 border-bottom: 1px solid #e1e3e4;
}
.dws-menu li > ul li ul{
 position: absolute;
 right: -266px;
 top: 0;

}
.dws-menu li:hover > ul{
 display: block;
}

.search1{
/*border-right: : 1px solid #000000;*/
	display: inline-block;
position: relative;
padding-left: 50px;
background: url(Search.png);
background-repeat: no-repeat;
background-position: 30px 20px;
 width: 495px; /* Ширина поля с кнопкой */
/*    border: 1px solid #000; /* Параметры рамки */
    min-height: 20px; /* Минимальная высота */
    

}

input[type="search"] {
    border: none; /* Убираем рамку */
  outline: none; /* Убираем свечение в Chrome и Safari */
    -webkit-appearance: none; /* Убираем рамку в Chrome и Safari */
    width: 310px; /* Ширина поля */
    vertical-align: middle; /* Выравнивание по середине */
	height: 57px;
	padding: 0px;
font-size: 15px;
	font-family: "MyriadPro","Myriad Pro","Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial;
color: #000000;

   }

input[type="search"]::-webkit-input-placeholder {
color: #bfbfbf !important;
}
input[type="search"]::-moz-placeholder  {
color: #bfbfbf !important;
}
input[type="search"]:-moz-placeholder   {
color: #bfbfbf !important;
}
input[type="search"]:-ms-input-placeholder  {
color: #bfbfbf !important;
}

.wse_kategor{
	color: #bfbfbf;
 width: 180px; /* Ширина поля с кнопкой */
   border-right: 1px solid #f2f2f2; /* Параметры рамки */
    min-height: 20px; /* Минимальная высота */
height: 57px;
	font-family: "MyriadPro","Myriad Pro","Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial;
	font-weight: 200;
font-size: 15px;
background-image: url(strelka.png);
background-repeat: no-repeat;
background-position: 100px 28px;
padding: 18px 0;
}

.wse_kategor:hover{
text-decoration: underline;

}
.korzina{
background-image: url(korzina.png);
background-repeat: no-repeat;
background-position: 30px 20px;
position: relative;
font-family: "MyriadPro-Semibold";
font-size: 19px;
color:#43528e;
padding: 20px 70px;


}
.rub{
	font-family: "MyriadPro-Regular";
	font-size: 13px;
position: absolute;
}
.zakup{
	background-image: url(oval_korzina.png);
background-position: -15px 0;
background-repeat: no-repeat;
position: absolute;
}

.oform{

	float:right;
		font-family: "MyriadPro-Regular";
		font-size: 14px;
		color:#000000;
		text-decoration: underline;
}