footer
    .container
        .row
            .col-md-4
                .footer_info
                    .top_log
                        a(href="#logo")
                            img(src=require('../header/logo.png'))
                    p Инструменталь - магазин строительного инструмента.
                    | В нашем магазине можно купить
                    | профессиональный инструмент для строительства
                    | и ремонта.
                    p
                    | Электроинструмент от ведущих производителей мира.
                    | Доставка инструментов по Москве и в регионы РФ.
                    | Дилерские цены и скидки. Профессиональная помощь
                    | в подборе качественногоинструмента.
                    | г.Москва, ул. Ижорская, д. 6 +7 (495) 215-27-20.

            .col-md-5
                .footer_nav
                    .footer_nav1
                    .footer_nav2
            .col-md-3
                .footer_contacts
                    h1 7 (495) 215-27-20
                    p пн-пт с 9.00 до 18.00
                    .social_links
                        a(href='#')
                            img(src=require('../../components/header/soc1.png'))
                        a(href='#')
                            img(src=require('../../components/header/soc2.png'))
                        a(href='#')
                            img(src=require('../../components/header/soc3.png'))
                        a(href='#')
                            img(src=require('../../components/header/soc4.png'))
                    .nav_links_contacts
                        a Промышленные колеса
                        a Грузоперевозки и спецтехника
                        a Купи все в кредит