@import "../globalVars";
footer{
  padding-top: 50px;
  padding-bottom: 80px;
  font-size: 14px;
  .defaultFont();
  .social_links{
    a{
      margin-right: 10px;
    }
  }
  .abra(){
    a {
      font-size: 15px;
      //color: @textGrey;
      color: #696969;
      text-decoration: underline;
      display: block;
      margin-top: 15px;
    }
    a:hover {
      text-decoration: none;
      color: @mainRed;
    }
  }
  .nav_links_contacts {
    display: block;
    .abra();
  }
  .footer_nav{
    vertical-align: top;
    margin-top: 30px;
    li{
      list-style-type: none;
    }
    .abra();
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .footer_nav1{
    vertical-align: top;
    display: inline-block;
    margin-right: 30px;
    margin-left: 20px;
  }
  .footer_nav2{
    display: inline-block;
  }
}