@headerBorderColor: #edeeee;
@headerBorderwidth: 1px;
@textGrey: #979797;
@bgGrey: #f2f4f5;

@mainRed: #ff4b3a;

.defaultFont(){
  font-family: "MyriadPro","Myriad Pro","Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial;
}

.transition(@actions, @time){
  -webkit-transition: @actions @time;
  -moz-transition: @actions @time;
  -ms-transition: @actions @time;
  -o-transition: @actions @time;
  transition: @actions @time;
}

.greyBG {
  background-color: @bgGrey;
}

.responsive(@maxWidth, @rules) {
  @media only screen and (max-width: @maxWidth) {
    @rules();
  }
}
.responsiveMin(@minWidth, @rules) {
  @media only screen and (min-width: @minWidth) {
    @rules();
  }
}