extends ../base.pug
block title
    |  - Главная
block main
    .hitOfSales.greyBG
        .container.hitProducts
            .row
                .col-md-3
                .col-md-3
                    h1 Хиты продаж
                .col-md-6.listNav#hitsNav
        .container.products_component
            .row
                .col-md-3
                .col-md-3
                    .product_plate
                        .product_img
                            img(src=require('../../components/images/product1.jpg'))
                        .product_texts
                            p Электроинструмент
                            h2 Устройство зарядное AEG,12В,Li-ion,30 мин, LL1230
                            .product_stars
                                img(src=require('../../components/images/star-little.png'))
                                img(src=require('../../components/images/star-little.png'))
                                img(src=require('../../components/images/star-little.png'))
                                img(src=require('../../components/images/star-little.png'))
                                img(src=require('../../components/images/star-hollow.png'))
                            .price_text
                                p 2 421
                                    span  руб.
                            .buy_button
                                a(href="#") в корзину


                .col-md-3
                    .product_plate
                        .product_img
                            img(src=require('../../components/images/product2.jpg'))
                        .product_texts
                            p Электроинструмент
                            h2 Устройство зарядное AEG,12В,Li-ion,30 мин, LL1230
                            .product_stars
                                img(src=require('../../components/images/star-little.png'))
                                img(src=require('../../components/images/star-little.png'))
                                img(src=require('../../components/images/star-little.png'))
                                img(src=require('../../components/images/star-little.png'))
                                img(src=require('../../components/images/star-little.png'))
                            .price_text
                                p 2 421
                                    span  руб.
                            .buy_button
                                a(href="#") в корзину
                .col-md-3
                    .product_plate
                        .product_img
                            img(src=require('../../components/images/product3.jpg'))
                        .product_texts
                            p Электроинструмент
                            h2 Устройство зарядное AEG,12В,Li-ion,30 мин, LL1230
                            .product_stars
                                img(src=require('../../components/images/star-little.png'))
                                img(src=require('../../components/images/star-little.png'))
                                img(src=require('../../components/images/star-little.png'))
                                img(src=require('../../components/images/star-little.png'))
                                img(src=require('../../components/images/star-hollow.png'))
                            .price_text
                                p 2 421
                                    span  руб.
                            .buy_button
                                a(href="#") в корзину

    .product_sales.whiteBG
        .container.sales_products
            .row
                .col-md-3
                .col-md-9.listNav#salesNav
        .container.products_component
            .row
                .col-md-3
                    .sales_text
                        h1 Акции и скидки
                        p В данном разделе Вы можете ознакомиться с акционными товарами
                        .red_button.actions_button
                            a Все акции
                .col-md-3
                    .product_plate
                        .product_img
                            img(src=require('../../components/images/product1.jpg'))
                        .product_texts
                            p Электроинструмент
                            h2 Устройство зарядное AEG,12В,Li-ion,30 мин, LL1230
                            .product_stars
                                img(src=require('../../components/images/star-little.png'))
                                img(src=require('../../components/images/star-little.png'))
                                img(src=require('../../components/images/star-little.png'))
                                img(src=require('../../components/images/star-little.png'))
                                img(src=require('../../components/images/star-hollow.png'))
                            .price_text
                                p 2 421
                                    span  руб.
                            .buy_button
                                a(href="#") в корзину


                .col-md-3
                    .product_plate
                        .product_img
                            img(src=require('../../components/images/product2.jpg'))
                        .product_texts
                            p Электроинструмент
                            h2 Устройство зарядное AEG,12В,Li-ion,30 мин, LL1230
                            .product_stars
                                img(src=require('../../components/images/star-little.png'))
                                img(src=require('../../components/images/star-little.png'))
                                img(src=require('../../components/images/star-little.png'))
                                img(src=require('../../components/images/star-little.png'))
                                img(src=require('../../components/images/star-little.png'))
                            .price_text
                                p 2 421
                                    span  руб.
                            .buy_button
                                a(href="#") в корзину
                .col-md-3
                    .product_plate
                        .product_img
                            img(src=require('../../components/images/product3.jpg'))
                        .product_texts
                            p Электроинструмент
                            h2 Устройство зарядное AEG,12В,Li-ion,30 мин, LL1230
                            .product_stars
                                img(src=require('../../components/images/star-little.png'))
                                img(src=require('../../components/images/star-little.png'))
                                img(src=require('../../components/images/star-little.png'))
                                img(src=require('../../components/images/star-little.png'))
                                img(src=require('../../components/images/star-hollow.png'))
                            .price_text
                                p 2 421
                                    span  руб.
                            .buy_button
                                a(href="#") в корзину

        .container
            .row
                .col-md-3
                .col-md-1
                    img(src=require('../../components/images/balls_carousel.png'))
                .col-md-6
                .col-md-2
                    img(src=require('../../components/images/arrows.png'))
    .news_and_blog.greyBG
        .container
            .row
                .col-md-6.news_header
                    h1 Новости
                        span
                            a Все новости

                .col-md-6.news_header
                    h1 Блог
                        span
                            a Все записи
        .container
            .row
                .col-md-3
                    img(src=require('../../components/images/news2.png'))
                    .news_title
                        p Многофункциональный инструмент угломер ЗУБР серии Мастер
                    .news_data
                        p 1 февраля
                    img(src=require('../../components/images/balls_carousel.png'))
                .col-md-3
                    img(src=require('../../components/images/news1.png'))
                    .news_title
                        p Многофункциональный инструмент угломер ЗУБР серии Мастер
                    .news_data
                        p 1 февраля
                    img(src=require('../../components/images/arrows-hollow.png')).arrows_hollow
                .col-md-3
                    img(src=require('../../components/images/news3.png'))
                    .news_title
                        p Многофункциональный инструмент угломер ЗУБР серии Мастер
                    .news_data
                        p 1 февраля
                    img(src=require('../../components/images/balls_carousel.png'))
                .col-md-3
                    img(src=require('../../components/images/news4.png'))
                    .news_title
                        p Многофункциональный инструмент угломер ЗУБР серии Мастер
                    .news_data
                        p 1 февраля
                    img(src=require('../../components/images/arrows-hollow.png')).arrows_hollow
    .video
        .container-fluid
            img(width='100%',src=require('../../components/images/video.jpg'))
    .cooperate.greyBG
        h1 Мы сотрудничаем
        .cooperate_images
            .container
                .row
                    .col-md-1
                        .arrow_left
                            img(src=require('../../components/images/arrow-left.png'))
                    .col-md-10
                        .cooperate_img
                            img(src=require('../../components/images/partners.png'))
                        .cooperate_img
                            img(src=require('../../components/images/balls_carousel.png'))

                    .col-md-1
                        .arrow_right
                            img(src=require('../../components/images/arrow-right.png'))