@import "../../components/globalVars";

.whiteBG {
  background-color: white;
}
.hitOfSales {
  padding-top: 40px;
}
.hitOfSales h1{
  margin-bottom: 20px;
  font-size: 26px;
  .defaultFont();
  font-weight: 600;
}
#hitsNav {
  margin-top: 10px;
}
.products_component{
  padding-bottom: 45px;
}
.product_sales {
  padding-top: 50px;
}
.sales_products{
  margin-bottom: 30px;
}
#salesNav {
  //margin-left: 20px;
}
.red_button {
  background-color: @mainRed;
  border-radius: 5px;
  a {
    color: white;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
  }
}
.red_button:hover {
  cursor: pointer;
}
.actions_button {
  width: 140px;
  height: 40px;
  text-align: center;
  padding-top: 10px;
  a {
    //vertical-align: middle;
    width: 140px;
    //height: 40px;
  }
}
.news_and_blog {
  padding-bottom: 50px;
  padding-top: 50px;
}
.news_header{
  a{
    margin-left: 10px;
    .defaultFont();
    font-size: 14px;
    font-weight: 500;
    color: @mainRed;
    text-decoration: underline;
  }
  a:hover{
    text-decoration: none;
    cursor: pointer;
  }
}
.news_data{
  p {
    color: @textGrey;
  }
}
.arrows_hollow {
  float: right;
}
.cooperate {
  .col-md-10{
    position: relative;
    display: block;
  }
  padding-top: 40px;
  padding-bottom: 50px;
  h1{
    .defaultFont();
    font-size: 26px;
    text-align: center;
    margin-bottom: 30px;
  }
}
.col-md-10 .cooperate_img:last-child{
  display: block;
  text-align: center;
  position: relative;
  width: 50px;
  margin: 30px auto 0px;
}
.arrow_left,.arrow_right{
  margin-top: 60px;
  margin-left: 35px;
}