doctype html
html
    <!--[if lt IE 7]><html lang="ru" class="lt-ie9 lt-ie8 lt-ie7"><![endif]-->
    <!--[if IE 7]><html lang="ru" class="lt-ie9 lt-ie8"><![endif]-->
    <!--[if IE 8]><html lang="ru" class="lt-ie9"><![endif]-->
    <!--[if gt IE 8]><!-->
    <html lang="ru">
    <!--<![endif]-->
    head
    meta(charset='utf-8')
    meta(name='viewport',content='initial-scale=1.0, width=device-width')
    link(rel="shortcut icon" href="#")
    title Инструменталь
        block title
    body
        block header
            include ../components/header/header.pug
        block main
        block footer
            include ../components/map/map.pug
            include ../components/footer/footer.pug
